body {
    margin: 0px;
    padding: 0px;
    width: 100%;
    background-color: rgb(12, 39, 73);
    color: rgb(255, 255, 255);
    text-shadow: 2px 2px rgb(0, 0, 0);
}

.header {
    position: relative;
    top: 0px;
    left: 0px;
    min-height: 90px;
    height: auto;
    width: 100%;
    max-width: none;
    margin: auto;
    padding: 0px;
    background-color: rgb(20, 20, 20);
    color: rgb(255, 255, 255);
}

.header__logo {
    float: left;
    margin: 5px;
    height: auto;
    width: 80px;
}

.header__name {
    position: relative;
    top: 35px;
}

.nav {
    position: absolute;
    top: 5px;
    right: 5px;
    min-height: 60px;
    height: auto;
    max-width: 60%;
    width: auto;
    display: flex;
    flex-flow: row wrap;
    align-content: flex-start;
    justify-content: flex-end;
}

.nav > * {
    color: rgb(255, 255, 255);
    font-family: Arial, Helvetica, Verdana, sans-serif;
    font-size: 20px;
    text-align: center;
    vertical-align: middle;
    width: 120px;
    height: 30px;
    padding: 10px;
    background-color: rgb(45, 46, 90);
    border-width: 2px;
    border-style: solid;
    border-color: rgb(0, 0, 0);
}

.nav a {
    transition-property: all;
    transition-duration: 0.5s;
}

.nav a:hover {
    background-color: rgb(103, 102, 176);
    width: 130px;
    height: 32px;
}

.nav a:active {
    background-color: rgb(155, 102, 176);
}

.main {
    display: flex;
    flex-flow: row wrap;
    align-content: flex-start;
    justify-content: center;
    min-height: 60px;
    height: auto;
    width: 100%;
    max-width: none;
    margin-bottom: 10px;
}

.main__h1 {
    font-family: Verdana, Helvetica, Tahoma, sans-serif;
    font-size: 40px;
    text-align: center;
    height: auto;
    width: 100%;
    padding-bottom: 15px;
}

.main__h2 {
    font-family: Arial, Helvetica, Verdana, sans-serif;
    font-size: 24px;
    text-align: center;
    height: auto;
    width: 100%;
    padding-left: 10px;
    padding-right: 10px;
    padding-bottom: 10px;
}

.main__p {
    font-family: Arial, Helvetica, Verdana, sans-serif;
    font-size: 16px;
    text-align: left;
    padding-left: 10px;
    padding-right: 10px;
    height: auto;
    max-width: 35%;
    width: auto;
}

.main__img {
    height: auto;
    max-width: 976px;
    width: 100%;
    border-style: double;
    border-width: 5px;
    border-color: rgb(0, 0, 0);
}

.footer {
    position: fixed;
    left: 0px;
    bottom: 0px;
    min-height: 60px;
    height: auto;
    width: 100%;
    max-width: none;
    padding-top: 30px;
    margin: 0px;
    background-color: rgb(20, 20, 20);
    color: rgb(255, 255, 255);
}

.footer__menu {
    display: flex;
    flex-flow: row wrap;
    align-content: center;
    justify-content: space-around;
}

@media (max-width: 800px) {
    .nav {
        position: relative;
        flex-direction: column;
        justify-content: flex-end;
        align-content: center;
        max-width: 100%;
        width: 100%;
    }

    .nav > * {
        width: 100%;
    }

    .main__p {
        max-width: 100%;
    }
}
